.root {
    -fx-border-width: 4px;
    -fx-border-color: transparent;
}
.accordion .titled-pane > .title {
    -fx-background-color: #3A3B4F;
    -fx-text-fill: #FD6108;
}

.accordion .titled-pane > .title:hover {
    -fx-background-color: #4A4B5F;
}

.accordion .titled-pane > .content {
    -fx-background-color: #2C2D40;
    -fx-border-color: #FD6108;
    -fx-border-width: 0 1 1 1;
}

.notification-button {
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-padding: 10;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-alignment: center-left;
    -fx-max-width: infinity;
}

.notification-button:hover {
    -fx-background-color: #4A4055; /* Slightly lighter than #3A3045 */
    -fx-cursor: hand;
}